blockquote {
	padding: 0 1em;
	border-left: 3px solid $color-grey-300;
    font-family: $font-serif;
    font-style: italic;
    text-transform: none;
    line-height: 1.5em;
    font-size: $base-font-size * 1.25;
}